<%= link_to 'Enter', bucket_lists_path %>
<!-- cokolwiek w nawiasie wyżej -->

<table>
  <thead>
    <tr>
      <th> <%= @table_title %> </th>
      <th>Baaardzo ważne informacje</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td>Wow</td>
      <td>Takie ważne</td>
    </tr>
  </tfoot>
  <tbody>
    <tr>
      <td>WowWow</td>
      <td>Aż strach</td>
    </tr>
    <tr>
      <td>Dobra koniec</td>
      <td>To naprawdę nie jest aż tak śmieszne jak myślałem</td>
    </tr>
  </tbody>
</table>
